[user]
	name = cmac4603
	email = cmac4306users.noreply.github.com
	signingkey = 5E8C4D8EAA779AFC

[push]
    default = current

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
    editor = nvim -u NORC

[pull]
	rebase = true

[commit]
	template = /Users/cmacrae/.gitcommitmsg.txt
